<div class="container__main-card">
  <div class="main-card__image">
    <img src="{{ imageCover }}" alt="image placeholder" height="350">
  </div>

  <div class="main-card__eyebrow">
    <span>{{ cardEyebrow}}</span>
  </div>

  <div class="main-card__title">
    <h3><a href="#">{{ cardTitle }}</a></h3>
  </div>

  <div class="main-card__excerpt">
    <p><a href>{{ cardExcerpt }}</a></p>
  </div>

  <div class="main-card__tags">
    <span>{{ cardTags }}</span>
    <span>{{ cardTags }}</span>
    <span>{{ cardTags }}</span>
  </div>
</div>
