<div class="container">
  <app-hero-title></app-hero-title>
    <h2>Recent blog posts</h2>
    <div class="container__articles">
      <div class="articles__main">
        <app-main-card
          Id="1"
          imageCover="https://media.istockphoto.com/id/1365566757/pt/foto/female-entrepreneurs-smiling-at-the-camera.jpg?s=2048x2048&w=is&k=20&c=Jr2I3kvGEWQk7iP2AAkCxPFUY6HbMYWgKMBV0UVgz9w="
          cardEyebrow="Olivia Rhye • 20 Jan 2024"
          cardTitle="Conversations with London Makr & Co."
          cardExcerpt="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde eum accusantium officia soluta quis sed veniam molestiae dolores accusamus. Minima deserunt?"
          cardTags="Design"></app-main-card>
      </div>
      <div class="articles__sidebar">

        <app-sidebar-card
          Id="2"
          sidebarCover="https://media.istockphoto.com/id/1369508766/pt/foto/beautiful-successful-latin-woman-smiling.jpg?s=2048x2048&w=is&k=20&c=E6U3sE8wlJOpNPWdzulAwcGpVV3m2GxEoWzQphz2bQI="
          sidebarEyebrow="Phoenix Baker • 19 Jan 2024"
          sidebarTitle="A relentless pursuit of perfection in product design"
          sidebarExcerpt="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde eum accusantium officia soluta quis sed."
          sidebarTags="Research">
        </app-sidebar-card>

        <app-sidebar-card
          Id="3"
          sidebarCover="https://media.istockphoto.com/id/1342085602/pt/foto/two-happy-colleagues-smiling-while-standing-together.jpg?s=2048x2048&w=is&k=20&c=40zvaPtsWBVFk2qa8lPyEcYv24TRr9IfHJU8MLN6wCU="
          sidebarEyebrow="Lana Steiner • 18 Jan 2024"
          sidebarTitle="How to run a successfull business with your partner"
          sidebarExcerpt="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde eum accusantium officia soluta quis sed."
          sidebarTags="Business">
        </app-sidebar-card>

        <app-sidebar-card
          Id="4"
          sidebarCover="https://media.istockphoto.com/id/1219944808/pt/foto/closeup-of-young-female-hands-chopping-fresh-vegetables-on-chopping-board-while-in-modern.jpg?s=2048x2048&w=is&k=20&c=gVjE8ViA0jXZC9dYJLqlHXcBjX1v28FhJ502YLZcYV8="
          sidebarEyebrow="Lana Steiner • 18 Jan 2024"
          sidebarTitle="Why food matters - Disease prevetion and treatment"
          sidebarExcerpt="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde eum accusantium officia soluta quis sed."
          sidebarTags="Health">
        </app-sidebar-card>
      </div>
    </div>
  </div>

