

  <div class="container__sidebar-card">
    <div class="sidebar-card__image">
      <img src="{{ sidebarCover }}" alt="image placeholder" height="400">
    </div>
    <div class="sidebar-content">
      <div class="sidebar__eyebrow">
        <span> {{ sidebarEyebrow }}</span>
      </div>

      <div class="sidebar__title">
        <h3><a href="#"> {{ sidebarTitle }} </a></h3>
      </div>

      <div class="sidebar__excerpt">
        <p><a href> {{ sidebarExcerpt }}</a></p>
      </div>

      <div class="sidebar__tags">
        <span>{{ sidebarTags }}</span>
        <span>{{ sidebarTags }}</span>
      </div>
    </div>

  </div>


