.container__sidebar-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  height: 167px;
  width: 100%;
}

.sidebar-card__image img {
  width: 200px;
  height: 165px;
  min-width: 200px;
  object-fit: cover;
}

.sidebar-content {
  margin-left: 15px;
}

.sidebar__eyebrow {
  padding-bottom: 10px;
  color: #505051;
}

.sidebar__title {
  padding-bottom: 10px;
}

.sidebar__tags {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: auto;
  margin: 15px 10px 20px 0;
}

.sidebar__tags span {
  padding: 3px 8px;
  border-radius: 20px;
  border: 1px solid #b2b5b8;
  width: auto;
}

